{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {},
  "plugins": ["react"],
  "rules": {
    "strict": 0,
    "quotes": [2, "single"],
    "no-unused-vars": [1, { "vars": "all", "args": "after-used", "varsIgnorePattern": "React"}],
    "no-underscore-dangle": 0,
    "no-alert": 0,
    "dot-notation": [2, {"allowPattern": "^[a-z]+(_[a-z]+)+$"}],
    "react/jsx-uses-vars": 1,
    "prefer-const": 2,
    "no-const-assign": 2
  }
}
